@import 'tailwindcss';

@theme {
  --font-sans:
    'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --color-primary: #3b9c7d;
  --color-primary-lighter: #57e7b9;
  --color-primary-darker: #297057;
  --color-discord: #7289da;
  --color-discord-lighter: #99aab5;
  --color-discord-darker: #546e9a;
  --color-twitter: #1b95e0;
  --color-twitter-lighter: #99aab5;
  --color-patreon: #9a473a;
  --color-patreon-lighter: #f96854;
  --color-kofi: #29abe0;
  --color-kofi-lighter: #6dcbff;
  --color-bsky: #1185fe;
  --color-bsky-lighter: #54a9ff;
  --color-telegram: #2ca5e0;
  --color-telegram-lighter: #99aab5;
}

html,
body {
  @apply bg-black text-gray-400;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  scroll-behavior: smooth;
}

/* Animation classes */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.infinite {
  animation-iteration-count: infinite;
}

.slower {
  animation-duration: 3s;
}

.delay-1s {
  animation-delay: 1s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}
